
.flat {
  display: flex;
  margin: 50px 20px;
  align-items: center;
}

.img-size-small {
  width: 100px;
  margin: 30px;
}

.flat-description {
  margin-left: 20px;
}

.flat-header {
  background-size: cover;
  height: 50vh;
  background-position: center;
}
